.white-well-box {
    padding: 0;
}
h1, h2 {
    font-family: 'Noto Sans', sans-serif !important;
}
.clear {
    clear:both;
}
img {
    max-width: 100%;
}
#e-book article {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

h1#menu-0 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 28pt;
    line-height: 38px;
    padding: 150px 0 55px 0;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.head-foot, .head-foot p {
    text-align:center;
    color:#fff;
    font-size: 14pt;
}
.head-foot div {
    width: 13%;
    display: inline-block;
    height: 135px;
}
.head-foot div img {
    max-width: 90%;
    height: auto;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
}
h1#menu-17 {
    border-bottom: 1px solid #EEF2F2;
    padding-bottom: 20px;
}
.cover {
    margin-top: -40px;
    /*background: url(../img/cover.png) no-repeat center top;*/
    background-image:  url(../img/blue.png), url(../img/covertest.png);
    background-repeat: repeat, no-repeat;
    background-position: center top;
    background-size: cover;
    height: 600px;
    margin-bottom: 30px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    margin-left: -20px;
    margin-right: -20px;
}
.doc-logo {
    width: 200px;
    position: absolute;
    top: 20px;
    right: 60px;
}
.last-cover {
    margin-bottom:75px;
}


@media screen and (max-width: 767px) {
   .head-foot {
       display: none;
   }
}