#menu-button {display: none;z-index: 99999;}

@media screen and (max-width: 991px) and (min-width: 768px) {
    #menu-button {
        display: block;
        position: fixed;
        left: 0px;
        right: 0px;
        margin: auto;
        top: 0px;
        cursor: pointer;
        width: 556px;
        background-color: #EEF2F2;
        padding: 5px 20px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    }
    #menu-button .button {
        width: 30px;
        height: 30px;
        float: left;
    }
    #menu-button .button .line {
        width: 100%;
        height: 4px;
        background-color: #0079BF;
        display: block;
        margin: 5px 0;
        border-radius: 2px;
    }
    #menu-button .text {
        color: #0079BF;
        margin: 5px 0 0 45px;
        display: block;
    }
}

@media screen and (max-width: 767px) {
    #menu-button {
        display: block;
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0;
        cursor: pointer;
        background-color: #EEF2F2;
        padding: 5px 20px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    }
    #menu-button .button {
        width: 30px;
        height: 30px;
        float: left;
    }
    #menu-button .button .line {
        width: 100%;
        height: 4px;
        background-color: #0079BF;
        display: block;
        margin: 5px 0;
        border-radius: 2px;
    }
    #menu-button .text {
        color: #0079BF;
        margin: 5px 0 0 45px;
        display: block;
    }
}