

#cover {
	width:100%;
	height:auto;
}
#download {
    position: absolute;
    top: 0px;
    right: 25px;
    color: #fff;
    font-weight: bold;
}
#download img {
    width:70px;
}
#baner {
    position: relative;
    width: 100%;
}
h2 {
    position: relative;
    line-height: 22px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20pt;
    color: #0079BF;
    border-bottom: 1px solid #EEF2F2;
    padding: 10px 0px 7px 3px;
}
h2 span {
    position: absolute;
    top: 45px;
    font-size: 19px;
    color:#747474;
}

article h2::before {
    position: absolute;
    left: -77px;
    top: 23px;
    width: 65px;
    height: 65px;
}
article .article-title::before {
    font-family: FontAwesome;
    content: "\f02c";
    color: #EEF2F2;
    font-size: 56px;
    /*content: url(../img/pill.png);*/
}
article h3 {
    position: relative;
    border-bottom: 1px solid #EEF2F2;
    margin: 50px 20px;
    padding-bottom: 5px;
    font-size: 14pt;
    font-weight: bold;
}
article .icon {
    margin: 80px 0px 50px 90px;
}
article .icon.section-header {
    margin: 5px 0px 75px 90px;
}
article h3::before {
    position: absolute;
    left: -90px;
    top: -15px;
    width: 65px;
    height: 65px;
    color: #EEF2F2;
    font-size: 52px;
}
article p, article ul {
    margin: 0 20px 20px 20px;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
article ul {
    padding-left: 10px;
    list-style: outside;
}
article ul li {
    text-indent: 0px;
    margin-left: 10px;
}
article .grey {
    background-color: #eef5fb;
    margin: 15px 20px 20px 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #0079BF;
}
article .grey p {
    margin: 0 20px 20px 20px;
    padding-left: 0px;
}
article .grey ul {
    margin: 0 20px 20px 20px;
    padding-left: 10px;
}
article .grey h4 {
    position: relative;
    margin: 35px 0px 35px 20px;
    font-weight: bold;
}
article .grey .duration, article .grey .prepare, article .grey .information {
    margin: 35px 0px 35px 100px;
}
article .grey h4:first-child::before {
    position: absolute;
    width: 95px;
    height: 122px;
    color: #0079BF;
    font-size: 56px;
}
article .grey .duration::before {
    font-family: FontAwesome;
    content: "\f0f1";
    /*content: url(../img/p_przebieg_w_trakcie_zabiegu.png);*/
    left: -76px;
    top: -25px;
}
article .grey .information::before {
    font-family: FontAwesome;
    content: "\f05a";
    /*content: url(../img/p_niezbedne_informacje.png);*/
}
article .prepare::before {
    font-family: FontAwesome;
    content: "\f18e";
    left: -75px;
    /*content: url(../img/p_przygotowanie.png);*/
}
article .recommend::before {
    font-family: FontAwesome;
    content: "\f0f0";
    left: -68px;
    /*content: url(../img/p_zalecenia_po_zabiegu.png);*/
}
article .price::before {
    font-family: FontAwesome;
    content:"\f153";
    left: -66px;
}
article .pen::before {
    font-family: FontAwesome;
    content:"\f040";
    left: -76px;
}
article .pricelist {
    background-color: #fff;
    position: relative;
    height: 150px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #EEF2F2;
}
article .pricelist::before {
    font-family: FontAwesome;
    content: "\f02e";
    left: 20px;
    top: 0px;
    color: #0079BF;
    font-size: 56px;
    position: absolute;
    z-index: 99999;
}
.pricelist .price-container {
    height: 107px;
    width: 85%;
    background-color: #fff;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255,255,255,1);
}
.pricelist .price-row {
    float: left;
    width: 100%;
}
.pricelist .price-row:first-child {
    border-bottom: 1px solid #EEF2F2;
}
.pricelist .price-cell {
    float: left;
    width: 19%;
    border-right: 1px solid #EEF2F2;
    text-align: center;
    padding: 10px 0;
    color: #333;
    font-weight: bold;
}
.pricelist .price-row .price-cell:last-child {
    border-right: none;
}
blockquote {
    margin: 0 20px 40px 110px;
    background-color: #eef5fb;
    position: relative;
    padding: 20px 20px 20px 90px;
    border-radius: 5px;
    border: 1px solid #0079BF;
}
.doc-img {
    position: absolute;
    left: -90px;
    top: 25px;
    border-radius: 50%;
    border: 1px solid #5186C5;
    width: 165px;
    height: 165px;
}
.doc-name {
    font-size: 24px;
    margin: 0 20px 10px 20px;
}
.doc-special {
    font-style: italic;
}
.doc-q {
    padding: 10px 0;
    margin: 0 20px 10px 20px;
}
article blockquote .doc-a {
    font-style: italic;
    padding-left: 0px
}
article .btn-doc {
    color: #fff;
    background-image: -webkit-linear-gradient(top,rgba(163,225,232,.15) 0,rgba(0,171,190,.15) 100%);
    background-image: -o-linear-gradient(top,rgba(163,225,232,.15) 0,rgba(0,171,190,.15) 100%);
    background-image: linear-gradient(to bottom,rgba(163,225,232,.15) 0,rgba(0,171,190,.15) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26A3E1E8', endColorstr='#2600ABBE', GradientType=0);
    background-color: #2391d7;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    outline: 0;
    border: 1px solid #228bce;
    font-weight: 400;
    font-weight: 700;
    padding: 10px;
}
article .btn-doc:hover {
    text-decoration: none;
    background-color: #5186C5;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
#e-book {
    font-size: 13pt;
}
h1 {
    font-size: 18pt;
}
h2 {
    border-bottom: 3px solid #0079BF;
    font-size: 18pt;
}
h2 span {
    font-size: 18px;
    top: 42px;
}
article h3 {
    margin: 70px 20px 30px 20px;
}
article .pricelist::before {
    left: 5px;
    top: -5px;
    transform: scale(.8);
}
.pricelist .price-container {
    width: 89%;
    padding: 10px;
}
.pricelist .price-cell {
    font-size: 14px;
}
article .icon {
    margin: 70px 20px 60px 90px;
}
.pricelist .price-container {
    right: 30px;
}
.doc-img {
    width: 165px;
    height: 165px;
}
blockquote {
    padding: 25px 15px 25px 80px;
}
.head-foot, .head-foot p {
    font-size: 13pt;
}
}
